<ion-tabs *ngIf="showTabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add-meals">
      <ion-icon size="large" name="bulb-outline"></ion-icon>
      Get inspired!
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon size="large" name="restaurant-outline"></ion-icon>
      My meals
    </ion-tab-button>
    <ion-tab-button tab="grocery-list">
      <ion-icon size="large" name="cart-outline"></ion-icon>
      Grocery list
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
